# Phase 2

In [1]:
import pandas as pd

df = pd.read_csv('movie_data_first_file.csv')

In [2]:
df1 = pd.read_csv('movie_data_second_file.csv')

In [3]:
df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
0,The Dark Knight,Christopher Nolan,152 min,2008,9.0,84.0
1,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,2003,9.0,94.0
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140 min,2023,8.9,86.0
3,Inception,Christopher Nolan,148 min,2010,8.8,74.0
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,2001,8.8,92.0

In [4]:
df1.head()

,Movie Name,Votes,Gross Collection,Certification,Star1,Star2,Star3,Star4,Genre1,Genre2,Genre3
0,The Dark Knight,2744939,$534.86M,12A,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,1900488,$377.85M,12A,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Action,Adventure,Drama
2,Spider-Man: Across the Spider-Verse,189649,NaN,PG,Kemp Powers,Justin K. Thompson,Shameik Moore,Hailee Steinfeld,Animation,Action,Adventure
3,Inception,2435954,$292.58M,12A,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Fellowship of the Ring,1928870,$315.54M,PG,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Action,Adventure,Drama

**Table 1**

In [5]:
# 1)  Display all the details of movies created by directors Christopher and Matt Reeves.

In [6]:
directors_df = df[df['Director Name'].isin(['Christopher Nolan', 'Matt Reeves'])]

# Display all details of movies created by directors Christopher Nolan and Matt Reeves
print(directors_df)

                         Movie Name      Director Name Duration  Year  Rating  \
0                   The Dark Knight  Christopher Nolan  152 min  2008     9.0
3                         Inception  Christopher Nolan  148 min  2010     8.8
21            The Dark Knight Rises  Christopher Nolan  164 min  2012     8.4
39                    Batman Begins  Christopher Nolan  140 min  2005     8.2
131                      The Batman        Matt Reeves  176 min  2022     7.8
132                         Dunkirk  Christopher Nolan  106 min  2017     7.8
230  Dawn of the Planet of the Apes        Matt Reeves  130 min  2014     7.6
312  War for the Planet of the Apes        Matt Reeves  140 min  2017     7.4
325                           Tenet  Christopher Nolan  150 min  2020     7.3
517                     Cloverfield        Matt Reeves   85 min  2008     7.0

     Metascore
0         84.0
3         74.0
21        78.0
39        70.0
131       72.0
132       94.0
230       79.0
312       82.0
325       69.0
517       64.0

In [7]:
directors_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
0,The Dark Knight,Christopher Nolan,152 min,2008,9.0,84.0
3,Inception,Christopher Nolan,148 min,2010,8.8,74.0
21,The Dark Knight Rises,Christopher Nolan,164 min,2012,8.4,78.0
39,Batman Begins,Christopher Nolan,140 min,2005,8.2,70.0
131,The Batman,Matt Reeves,176 min,2022,7.8,72.0

In [8]:
# 2) Display all the details of movies with a duration of 140 minutes to 190 minutes.

In [9]:
# Extract the numerical values from the 'Duration' column and convert it to integer
df['Duration'] = df['Duration'].str.extract(r'(\d+)').astype(int)

# Filter the DataFrame to include only rows where the Duration is between 140 and 190 minutes
duration_df = df[(df['Duration'] >= 140) & (df['Duration'] <= 190)]

# Display all details of movies with a duration between 140 and 190 minutes
print(duration_df)

                                             Movie Name       Director Name  \
0                                       The Dark Knight   Christopher Nolan
2                   Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
3                                             Inception   Christopher Nolan
4     The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
5                 The Lord of the Rings: The Two Towers       Peter Jackson
...                                                 ...                 ...
1758                                              Liger      Puri Jagannadh
1759                                             Gunday     Ali Abbas Zafar
1762                                             Laxmii    Raghava Lawrence
1763                                        Heropanti 2          Ahmed Khan
1768                                             Race 3        Remo D'Souza

      Duration  Year  Rating  Metascore
0          152  2008     9.0       84.0
2          140  2023     8.9       86.0
3          148  2010     8.8       74.0
4          178  2001     8.8       92.0
5          179  2002     8.8       87.0
...        ...   ...     ...        ...
1758       140  2022     2.7        NaN
1759       152  2014     2.7        NaN
1762       141  2020     2.5        NaN
1763       145  2022     2.5        NaN
1768       160  2018     1.9        NaN

[208 rows x 6 columns]

In [10]:
duration_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
0,The Dark Knight,Christopher Nolan,152,2008,9.0,84.0
2,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140,2023,8.9,86.0
3,Inception,Christopher Nolan,148,2010,8.8,74.0
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178,2001,8.8,92.0
5,The Lord of the Rings: The Two Towers,Peter Jackson,179,2002,8.8,87.0

In [11]:
# 3) Display all details of movies with ratings above 7 in ascending order.

In [12]:
# Filter the DataFrame to include only rows where the rating is above 7
high_rated_movies_df = df[df['Rating'] > 7]

# Sort the DataFrame by the "Rating" column in ascending order
high_rated_movies_df = high_rated_movies_df.sort_values(by='Rating', ascending=True)

# Display all details of movies with ratings above 7 in ascending order
print(high_rated_movies_df)

                                            Movie Name       Director Name  \
494                                              Fanaa         Kunal Kohli
460                                          Desperado    Robert Rodriguez
459                                         Real Steel          Shawn Levy
458                                            Everest   Baltasar Kormákur
457                                  Deepwater Horizon          Peter Berg
..                                                 ...                 ...
4    The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
3                                            Inception   Christopher Nolan
2                  Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
1        The Lord of the Rings: The Return of the King       Peter Jackson
0                                      The Dark Knight   Christopher Nolan

     Duration  Year  Rating  Metascore
494       168  2006     7.1        NaN
460       104  1995     7.1       55.0
459       127  2011     7.1       56.0
458       121  2015     7.1       64.0
457       107  2016     7.1       68.0
..        ...   ...     ...        ...
4         178  2001     8.8       92.0
3         148  2010     8.8       74.0
2         140  2023     8.9       86.0
1         201  2003     9.0       94.0
0         152  2008     9.0       84.0

[495 rows x 6 columns]

In [13]:
high_rated_movies_df.head()

            Movie Name      Director Name  Duration  Year  Rating  Metascore
494              Fanaa        Kunal Kohli       168  2006     7.1        NaN
460          Desperado   Robert Rodriguez       104  1995     7.1       55.0
459         Real Steel         Shawn Levy       127  2011     7.1       56.0
458            Everest  Baltasar Kormákur       121  2015     7.1       64.0
457  Deepwater Horizon         Peter Berg       107  2016     7.1       68.0

In [14]:
# 4) Display all movie names in descending order.

In [15]:
# Sort the DataFrame by the "Movie Name" column in descending order
sorted_df = df.sort_values(by='Movie Name', ascending=False)

# Display all movie names in descending order
print(sorted_df['Movie Name'])

1581                      Æon Flux
1718          xXx²: The Next Level
1631    xXx: Return of Xander Cage
1392                           xXx
1699                   Zoolander 2
                   ...
860                      12 Strong
1526                     12 Rounds
1655                     10,000 BC
427                            '71
1045                        #Alive
Name: Movie Name, Length: 1772, dtype: object

In [16]:
sorted_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
1581,Æon Flux,Karyn Kusama,93,2005,5.4,36.0
1718,xXx²: The Next Level,Lee Tamahori,101,2005,4.5,37.0
1631,xXx: Return of Xander Cage,D.J. Caruso,107,2017,5.2,42.0
1392,xXx,Rob Cohen,124,2002,5.8,48.0
1699,Zoolander 2,Ben Stiller,101,2016,4.7,34.0

In [17]:
# 5) Display movie name starts with ‘P’ and their rating is greater than 7.

In [18]:
# Filter the DataFrame to include only rows where the movie name starts with 'P' and the rating is greater than 7
filtered_df = df[(df['Movie Name'].str.startswith('P')) & (df['Rating'] > 7)]

# Display the movie names and ratings
print(filtered_df[['Movie Name', 'Rating']])

                                            Movie Name  Rating
28                                   Princess Mononoke     8.3
55                                    Paan Singh Tomar     8.2
57   Pirates of the Caribbean: The Curse of the Bla...     8.1
139                                           Predator     7.8
239                                    Ponniyin Selvan     7.6
240                          Pushpa: The Rise - Part 1     7.6
274                                       Police Story     7.5
300         Pirates of the Caribbean: Dead Man's Chest     7.4
306                                     Predestination     7.4
358                                       Patriots Day     7.3
384                                        Point Break     7.2
437                                               Prey     7.1
444           Pirates of the Caribbean: At World's End     7.1
467                                            Payback     7.1

In [19]:
filtered_df.head()

,Movie Name,Director Name,Duration,Year,Rating,Metascore
28,Princess Mononoke,Hayao Miyazaki,134,1997,8.3,76.0
55,Paan Singh Tomar,Tigmanshu Dhulia,135,2012,8.2,NaN
57,Pirates of the Caribbean: The Curse of the Bla...,Gore Verbinski,143,2003,8.1,63.0
139,Predator,John McTiernan,107,1987,7.8,47.0
239,Ponniyin Selvan,Mani Ratnam,167,2022,7.6,NaN

**Table 2**

In [20]:
# 1) Display all movie names with star Arnold Schwarzenegger in ascending order.

In [21]:
# Filter the DataFrame to include only rows where the star1, star2, star3, or star4 is 'Arnold Schwarzenegger'
filtered_df = df1[(df1['Star1'] == 'Arnold Schwarzenegger') |
                  (df1['Star2'] == 'Arnold Schwarzenegger') |
                  (df1['Star3'] == 'Arnold Schwarzenegger') |
                  (df1['Star4'] == 'Arnold Schwarzenegger')]

# Create a Series with all movie names that have Arnold Schwarzenegger
all_movie_names = pd.concat([filtered_df['Movie Name'],
                             filtered_df['Movie Name'],
                             filtered_df['Movie Name'],
                             filtered_df['Movie Name']])

# Sort the movie names in ascending order
sorted_movie_names = all_movie_names.sort_values()

# Remove duplicates (since the same movie may have Arnold Schwarzenegger in multiple star positions)
unique_sorted_movie_names = sorted_movie_names.drop_duplicates()

# Display the movie names in ascending order
print(unique_sorted_movie_names)

1742                        Batman & Robin
1558                     Collateral Damage
704                               Commando
574                    Conan the Barbarian
1332                   Conan the Destroyer
1400                           End of Days
1122                                Eraser
693                            Escape Plan
1095                      Kindergarten Cop
866                       Last Action Hero
139                               Predator
1504                              Raw Deal
1227                              Red Heat
1652                             Red Sonja
1465                              Sabotage
9               Terminator 2: Judgment Day
1013    Terminator 3: Rise of the Machines
1016                    Terminator Genisys
1086                 Terminator: Dark Fate
1345                           The 6th Day
1024                        The Last Stand
706                        The Running Man
61                          The Terminator
256                           Total Recall
335                              True Lies
Name: Movie Name, dtype: object

In [22]:
unique_sorted_movie_names.head()

1742         Batman & Robin
1558      Collateral Damage
704                Commando
574     Conan the Barbarian
1332    Conan the Destroyer
Name: Movie Name, dtype: object

In [23]:
# 2) Display all details of the movie with the highest number of votes.

In [24]:
# Find the index of the movie with the highest number of votes
highest_votes_index = df1['Votes'].idxmax()

# Get all details of the movie with the highest number of votes
movie_with_highest_votes = df1.loc[highest_votes_index]

# Display all details of the movie with the highest number of votes
print(movie_with_highest_votes)

Movie Name          The Dark Knight
Votes                       2744939
Gross Collection           $534.86M
Certification                   12A
Star1                Christian Bale
Star2                  Heath Ledger
Star3                 Aaron Eckhart
Star4                 Michael Caine
Genre1                       Action
Genre2                        Crime
Genre3                        Drama
Name: 0, dtype: object

In [25]:
# 3) Display movie names with gross collections in descending order.

In [26]:
# Sort the DataFrame by Gross Collection in descending order
sorted_df = df1.sort_values(by='Gross Collection', ascending=False)

# Select and display only the Movie Name and Gross Collection columns
movie_names_with_gross = sorted_df[['Movie Name', 'Gross Collection']]

# Display the result
print(movie_names_with_gross)

                 Movie Name Gross Collection
869      Olympus Has Fallen          $98.93M
1409       The Green Hornet          $98.78M
1729       Inspector Gadget          $97.40M
532          Public Enemies          $97.10M
642         The Book of Eli          $94.84M
...                     ...              ...
1765          The Prototype              NaN
1767                  Radhe              NaN
1769      Angels Apocalypse              NaN
1770  The Cost of Deception              NaN
1771                Sadak 2              NaN

[1772 rows x 2 columns]

In [27]:
# 4) Display the gross collection of movies with the star Arnold.

In [28]:
# Filter the DataFrame to include only rows where Star1 is 'Arnold Schwarzenegger' or Star2 is 'Arnold Schwarzenegger'
arnold_movies_df = df1[(df1['Star1'] == 'Arnold Schwarzenegger') | (df1['Star2'] == 'Arnold Schwarzenegger')]

# Select and display the Movie Name and Gross Collection columns
arnold_movies_gross = arnold_movies_df[['Movie Name', 'Gross Collection']]

# Display the result
print(arnold_movies_gross)

                              Movie Name Gross Collection
9             Terminator 2: Judgment Day         $204.84M
61                        The Terminator          $38.40M
139                             Predator          $59.74M
256                         Total Recall         $119.39M
335                            True Lies         $146.28M
574                  Conan the Barbarian          $39.57M
693                          Escape Plan          $25.13M
704                             Commando          $35.10M
706                      The Running Man          $38.12M
866                     Last Action Hero          $50.02M
1013  Terminator 3: Rise of the Machines         $150.37M
1016                  Terminator Genisys          $89.76M
1024                      The Last Stand          $12.05M
1086               Terminator: Dark Fate          $62.25M
1095                    Kindergarten Cop          $91.46M
1122                              Eraser         $101.30M
1227                            Red Heat          $34.99M
1332                 Conan the Destroyer          $31.04M
1345                         The 6th Day          $34.60M
1400                         End of Days          $66.89M
1465                            Sabotage          $10.51M
1504                            Raw Deal          $16.21M
1558                   Collateral Damage          $40.08M
1652                           Red Sonja           $6.95M
1742                      Batman & Robin         $107.33M

In [29]:
# 5) Display all details of movies with comedy and action genres.

In [30]:
# Filter the DataFrame to include rows where Genre1 is 'Comedy' or Genre2 is 'Comedy'
comedy_movies_df = df1[(df1['Genre1'] == 'Comedy') | (df1['Genre2'] == 'Comedy') | (df1['Genre3'] == 'Comedy')]

# Filter the DataFrame to include rows where Genre1 is 'Action' or Genre2 is 'Action'
action_movies_df = df1[(df1['Genre1'] == 'Action') | (df1['Genre2'] == 'Action') | (df1['Genre3'] == 'Action')]

# Concatenate the two DataFrames to get all details of movies with comedy and action genres
comedy_action_movies_df = pd.concat([comedy_movies_df, action_movies_df])

# Drop any duplicate rows that may result from the concatenation
comedy_action_movies_df.drop_duplicates(inplace=True)

# Display all details of movies with comedy and action genres
print(comedy_action_movies_df)

                               Movie Name   Votes Gross Collection  \
46                     Gangs of Wasseypur   99943              NaN
51                           Sherlock Jr.   53215           $0.98M
56         Guardians of the Galaxy Vol. 3  226855              NaN
66    Lock, Stock and Two Smoking Barrels  598389           $3.90M
69                      Bajrangi Bhaijaan   92749           $8.18M
...                                   ...     ...              ...
1767                                Radhe  179070              NaN
1768                               Race 3   47824           $1.69M
1769                    Angels Apocalypse   42919              NaN
1770                The Cost of Deception   39602              NaN
1771                              Sadak 2   96363              NaN

     Certification              Star1                Star2  \
46              18     Manoj Bajpayee  Nawazuddin Siddiqui
51               U      Buster Keaton      Kathryn McGuire
56             12A        Chris Pratt       Chukwudi Iwuji
66              18      Jason Flemyng      Dexter Fletcher
69             12A      Mehmet Tutkun          Salman Khan
...            ...                ...                  ...
1767            15        Salman Khan         Disha Patani
1768           12A        Anil Kapoor          Salman Khan
1769           NaN      Enzo Zelocchi        Enzo Zelocchi
1770           NaN  Vivianne Bánovits         András Mózes
1771           15+         Alia Bhatt          Pooja Bhatt

                   Star3                 Star4  Genre1     Genre2    Genre3
46      Tigmanshu Dhulia          Richa Chadha  Action     Comedy     Crime
51            Joe Keaton        Erwin Connelly  Action     Comedy   Romance
56        Bradley Cooper       Pom Klementieff  Action  Adventure    Comedy
66            Nick Moran         Jason Statham  Action     Comedy     Crime
69    Harshaali Malhotra   Nawazuddin Siddiqui  Action  Adventure    Comedy
...                  ...                   ...     ...        ...       ...
1767       Randeep Hooda         Jackie Shroff  Action      Crime  Thriller
1768          Bobby Deol  Jacqueline Fernandez  Action      Crime  Thriller
1769       Jana Rochelle     Ryan C.F. Buckley  Action    Fantasy    Sci-Fi
1770         Barna Bokor       Gabriella Gubás  Action      Crime     Drama
1771   Aditya Roy Kapoor           Sanjay Dutt  Action      Drama       NaN

[1772 rows x 11 columns]

**Subquery**

In [31]:
# 1) Display all details from both tables where movie names are the same.

In [32]:
import pandas as pd

# Read the data from both files
df = pd.read_csv('movie_data_first_file.csv')
df1 = pd.read_csv('movie_data_second_file.csv')

# Merge the two DataFrames on 'Movie Name'
merged_df = pd.merge(df, df1, on='Movie Name', how='inner')

# Display all details from both files where movie names are the same
print(merged_df)

                                             Movie Name       Director Name  \
0                                       The Dark Knight   Christopher Nolan
1         The Lord of the Rings: The Return of the King       Peter Jackson
2                   Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
3                                             Inception   Christopher Nolan
4     The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
...                                                 ...                 ...
1835                                              Radhe         Prabhu Deva
1836                                             Race 3        Remo D'Souza
1837                                  Angels Apocalypse           Sean Cain
1838                              The Cost of Deception       Keith English
1839                                            Sadak 2        Mahesh Bhatt

     Duration  Year  Rating  Metascore    Votes Gross Collection  \
0     152 min  2008     9.0       84.0  2744939         $534.86M
1     201 min  2003     9.0       94.0  1900488         $377.85M
2     140 min  2023     8.9       86.0   189649              NaN
3     148 min  2010     8.8       74.0  2435954         $292.58M
4     178 min  2001     8.8       92.0  1928870         $315.54M
...       ...   ...     ...        ...      ...              ...
1835  113 min  2021     1.9        NaN   179070              NaN
1836  160 min  2018     1.9        NaN    47824           $1.69M
1837   85 min  2015     1.6        NaN    42919              NaN
1838  125 min  2021     1.5        NaN    39602              NaN
1839  133 min  2020     1.2        NaN    96363              NaN

     Certification              Star1                 Star2  \
0              12A     Christian Bale          Heath Ledger
1              12A        Elijah Wood       Viggo Mortensen
2               PG        Kemp Powers    Justin K. Thompson
3              12A  Leonardo DiCaprio  Joseph Gordon-Levitt
4               PG        Elijah Wood          Ian McKellen
...            ...                ...                   ...
1835            15        Salman Khan          Disha Patani
1836           12A        Anil Kapoor           Salman Khan
1837           NaN      Enzo Zelocchi         Enzo Zelocchi
1838           NaN  Vivianne Bánovits          András Mózes
1839           15+         Alia Bhatt           Pooja Bhatt

                  Star3                 Star4     Genre1     Genre2     Genre3
0         Aaron Eckhart         Michael Caine     Action      Crime      Drama
1          Ian McKellen         Orlando Bloom     Action  Adventure      Drama
2         Shameik Moore      Hailee Steinfeld  Animation     Action  Adventure
3           Elliot Page          Ken Watanabe     Action  Adventure     Sci-Fi
4         Orlando Bloom             Sean Bean     Action  Adventure      Drama
...                 ...                   ...        ...        ...        ...
1835      Randeep Hooda         Jackie Shroff     Action      Crime   Thriller
1836         Bobby Deol  Jacqueline Fernandez     Action      Crime   Thriller
1837      Jana Rochelle     Ryan C.F. Buckley     Action    Fantasy     Sci-Fi
1838        Barna Bokor       Gabriella Gubás     Action      Crime      Drama
1839  Aditya Roy Kapoor           Sanjay Dutt     Action      Drama        NaN

[1840 rows x 16 columns]

In [33]:
# 2)   Display all movie names, Director, ratings, and gross collection where the genre is action.

In [34]:
merged_df = pd.merge(df, df1, on='Movie Name', how='left')

# Filter the DataFrame to include only rows where the genre is 'Action'
action_movies_df = merged_df[merged_df['Genre1'].str.contains('Action', case=False)]

# Select the desired columns
selected_columns = ['Movie Name', 'Director Name', 'Rating', 'Gross Collection']

# Display the result
print(action_movies_df[selected_columns])

                                             Movie Name      Director Name  \
0                                       The Dark Knight  Christopher Nolan
1         The Lord of the Rings: The Return of the King      Peter Jackson
3                                             Inception  Christopher Nolan
4     The Lord of the Rings: The Fellowship of the Ring      Peter Jackson
5                 The Lord of the Rings: The Two Towers      Peter Jackson
...                                                 ...                ...
1835                                              Radhe        Prabhu Deva
1836                                             Race 3       Remo D'Souza
1837                                  Angels Apocalypse          Sean Cain
1838                              The Cost of Deception      Keith English
1839                                            Sadak 2       Mahesh Bhatt

      Rating Gross Collection
0        9.0         $534.86M
1        9.0         $377.85M
3        8.8         $292.58M
4        8.8         $315.54M
5        8.8         $342.55M
...      ...              ...
1835     1.9              NaN
1836     1.9           $1.69M
1837     1.6              NaN
1838     1.5              NaN
1839     1.2              NaN

[1768 rows x 4 columns]

In [35]:
# 3) Display all details from both tables with the highest gross collection.

In [36]:
# Sort the DataFrame by 'Gross Collection' in descending order
merged_df_sorted = merged_df.sort_values(by='Gross Collection', ascending=False)

# Get the row with the highest gross collection
highest_gross_movie = merged_df_sorted.iloc[0]

# Display all details of the movie with the highest gross collection
print(highest_gross_movie)

Movie Name          Olympus Has Fallen
Director Name            Antoine Fuqua
Duration                       119 min
Year                              2013
Rating                             6.5
Metascore                         41.0
Votes                           285096
Gross Collection               $98.93M
Certification                       15
Star1                    Gerard Butler
Star2                    Aaron Eckhart
Star3                   Morgan Freeman
Star4                   Angela Bassett
Genre1                          Action
Genre2                        Thriller
Genre3                             NaN
Name: 897, dtype: object

In [37]:
# 4) Display all details from both tables with the highest ratings

In [38]:
# Sort the DataFrame by 'Rating' in descending order
merged_df_sorted = merged_df.sort_values(by='Rating', ascending=False)

# Get the row with the highest rating
highest_rated_movie = merged_df_sorted.iloc[0]

# Display all details of the movie with the highest rating
print(highest_rated_movie)

Movie Name            The Dark Knight
Director Name       Christopher Nolan
Duration                      152 min
Year                             2008
Rating                            9.0
Metascore                        84.0
Votes                         2744939
Gross Collection             $534.86M
Certification                     12A
Star1                  Christian Bale
Star2                    Heath Ledger
Star3                   Aaron Eckhart
Star4                   Michael Caine
Genre1                         Action
Genre2                          Crime
Genre3                          Drama
Name: 0, dtype: object

In [39]:
# 5) Display all details from both tables with the lowest gross collection and lowest ratings

In [40]:
# Sort the DataFrame by 'Gross Collection' and 'Rating' in ascending order
merged_df_sorted = merged_df.sort_values(by=['Gross Collection', 'Rating'])

# Get the row with the lowest gross collection and lowest rating
lowest_gross_lowest_rating_movie = merged_df_sorted.iloc[0]

# Display all details of the movie with the lowest gross collection and lowest rating
print(lowest_gross_lowest_rating_movie)

Movie Name                 Wild Card
Director Name             Simon West
Duration                      92 min
Year                            2015
Rating                           5.6
Metascore                       40.0
Votes                          58130
Gross Collection              $0.00M
Certification                     15
Star1                  Jason Statham
Star2               Michael Angarano
Star3                 Dominik Garcia
Star4               Milo Ventimiglia
Genre1                        Action
Genre2                         Crime
Genre3                         Drama
Name: 1554, dtype: object